{% extends "base.html" %}

{% set title = "Affiliated Badminton clubs in Norfolk | Norfolk badminton Association" %}

{% block content %}

<aside class="c-clubs">
    <h1 class="c-title heading">Badminton clubs in Norfolk</h1>
    
    <section class="c-clubs_listing">
        {% for club in clubs %}
            <div class="c-club" id="club{{ club.getId }}">
                <h2 class="c-title c-title-medium">{{ club.getName }}<i class="fi-torsos-all"></i></h2>
                <dl>
                    {% for venue in club.getClubVenues %}
                    <dt>Plays at: {{ venue.getVenue.getName }} <a href="#{{ venue.getVenue.getId }}" class="go-to-venue button round tiny">View</a></dt>
                        {% for ts in venue.getTimeslots %}
                        <dd>{{ ts }}</dd>
                        {% endfor %}
                    {% endfor %}
                    
                    {% if club.getContacts.getTotal > 0 %}
                        <dt>Contact:</dt>
                        {% for contact in club.getContacts %}
                            <dd>
                                {{ contact }}
                                {% if contact.getPrivate == false and contact.getTelephoneNumbers|length > 0 %}
                                    <br>Tel: {{ contact.getTelephoneNumbers|join(', ') }}
                                {% endif %}
                            </dd>
                        {% endfor %}
                    {% endif %}
                    
                    {% if club.getLinks.getTotal() > 0 %}
                        <dt>Links:</dt>
                        {% for link in club.getLinks %}
                            <dd>
                                {{ link }}
                            </dd>
                        {% endfor %}
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
    </section>
</aside>
<section id="map" class="c-map">
    <noscript>Please enable javascript to see the map</noscript>
</section>

{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/leaflet-0.7.3.css" />
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/MarkerCluster.css" />
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/MarkerCluster.default.css" />
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/styles.css" />
{% endblock %}

{% block scripts %}

    <script src="{{ baseUrl }}/assets/js/AwBase.js"></script>
    <script src="{{ baseUrl }}/assets/js/leaflet.0.7.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/markercluster.leaflet.js"></script>
    <script src="{{ baseUrl }}/assets/js/leafletMap.js"></script>
    <script src="{{ baseUrl }}/assets/js/leafletClusterMap.js"></script>
    <script src="{{ baseUrl }}/assets/js/clubLayerMap.js"></script>
    <script type="text/javascript">
        jQuery.fn.scrollTo = function(elem, speed) { 
            $(this).animate({
                scrollTop:  $(this).scrollTop() - $(this).offset().top + $(elem).offset().top 
            }, typeof speed === 'undefined' ? 1000 : speed); 
            return this; 
        };
    </script>
    <script src="{{ baseUrl }}/assets/js/map.js"></script>

{% endblock %}